@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 75px;
 background: #2980b9;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background: #2980b9;
 margin: auto;
}
nav .navbar .logo a{
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
}
#Home{
  background: #fff;
}
#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
body,
.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.cd__main{
   min-height: 720px;
   position: relative;
}
.login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://source.unsplash.com/1280x720/?nature) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}
form {
  padding-top: 80px;
}
.active {
  border-bottom: 2px solid #1161ed;
}
.nonactive {
  color: rgba(255, 255, 255, 0.2);
}
h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}
h2:first-child {
  padding-left: 0px;
}
span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
}
.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}
.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}
.text:focus + span {
  opacity: 0.6;
}
input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
body,
.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.cd__main{
   min-height: 720px;
   position: relative;
}
.login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://source.unsplash.com/1280x720/?nature) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}
form {
  padding-top: 80px;
}
.active {
  border-bottom: 2px solid #1161ed;
}
.nonactive {
  color: rgba(255, 255, 255, 0.2);
}
h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}
h2:first-child {
  padding-left: 0px;
}
span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
}
.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}
.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}
.text:focus + span {
  opacity: 0.6;
}
input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
@import url(https://fonts.googleapis.com/css?family=Poppins:400, );
*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: url("srk\ 2.jpg") !important;
/*   background-repeat: no-repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: row;
/*   flex-wrap: nowrap; */
}
.right-section {
  flex: 1 1 50%;
}
.left-section {
  flex: 1 1 50%;
}
.right-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10% 0 20%;
  color: #fff;
}
.title {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 32px;
}
.description {
  font-weight: 500;
  padding-bottom: 30px;
}
.left-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.disclaimer {
  background-color: rgb(96, 85, 165);
  width: 80%;
  padding: 10px;
  text-align: center;
  color: white;
  align-content: center;
  border-radius: 8px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.disclaimer-text {
  font-size: 12px;
  font-weight: 400;
}
.disclaimer-highlight {
  font-weight: 700;
  font-size: 12px;
}
.form {
  background: #fff;
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-top: 32px;
  border-radius: 8px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}
.form input {
  width: 80%;
  padding: 16px 25px 16px 25px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-left: 10%;
  align-self: center;
  border: 1px solid rgb(185, 182, 211);
  border-radius: 6px;
  font-weight: 600;
  color: #000000;
}
.form input:focus {
  border: 1px solid black;
}
.form button {
  width: 80%;
  padding: 16px 25px 16px 25px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-left: 10%;
  align-self: center;
  border-radius: 6px;
  color: white;
  background: rgb(56, 204, 140);
  border: none;
}
.form-btn:focus {
  cursor: pointer;
}
.form p {
  width: 80%;
  font-size: 10px;
  padding: 0 25px 16px 25px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-left: 10%;
}
.terms {
  color: rgb(185, 182, 211);
}
.terms-highlight {
  color: rgb(255, 122, 122);
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .disclaimer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
  .form input {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }
  .form button {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }
  .form p {
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-image: url("https://github.com/panda-satyabrata/hosting-images/blob/main/singup_form_bg_mobile_codepen.png?raw=true");
  }
  .container {
    flex-direction: column;
  }
  .right-section-wrapper {
    height: 60vh;
    padding: 0 10% 0 10%;
  }
  .title {
    font-size: 42px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .description {
    padding-bottom: 0px;
  }
  .left-section-wrapper {
    height: 65vh;
  }
  .disclaimer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    flex-direction: column;
  }
  .form input {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }
  .form button {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }
  .form p {
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 400px) {
  .right-section-wrapper {
    height: 75vh;
  }
  
    .title {
    padding-top: 20px;
  }
}